{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
  <main class="container">
    <h1>Se connecter</h1>

    {% if error %}
      <div class="alert alert-danger">
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      </div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
      
      <div class="mb-2">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="_username" value="{{ last_username }}">
      </div>

      <div class="mb-2">
        <label class="form-label" for="password">Mot de passe</label>
        <input class="form-control" type="password" id="password" name="_password">
      </div>

      <input type="hidden" name="_target_path" value="{{ path('home') }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

      <button class="btn btn-primary" type="submit">Se connecter</button>
      
    </form>
  </main>
{% endblock %}