{% extends "base.html.twig" %}

{% block body %}
  
  <main class="container">

    {% for message in app.flashes('success') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endfor %}

    <h1>{{ housing.title }}</h1>
    <p>{{ housing.fullAddress }}</p>

    {% if housing.images is not empty %}
      <div class="images">
        {% if housing.thumbnail %}
          <img src="{{ vich_uploader_asset(housing.thumbnail) }}" alt="" class="card-img-top">
        {% endif %}
        <div class="images-gallery">
          {% for image in housing.images %}
            {% if not image.isThumbnail %}
              <img src="{{ vich_uploader_asset(image) }}" alt="" class="card-img-top">
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

<div class="row">
  <div class="col-8">
    <h2>chez {{ housing.user.name}}</h2>

    <p>{{ housing.rooms }} chambre . {{ housing.beds }} lits</p>

    <p>{{ housing.description }}</p>

    <aside class="container">
      <h2>{{ housing.comments | length }} Commentaires</h2>

      <div class="mb-3">
        <h3>Laisser un commentaire</h3>
        {{ render(path('comment.new', {id: housing.id})) }}
      </div>

      <div class="d-flex flex-wrap gap-3">
        {% for comment in housing.comments | reverse %}
          <div class="card" style="min-width: 100%;">
            <div class="card-header">
              {{ comment.user.name }}
            </div>
            <div class="card-body">
            <div class="card-text">{{ comment.message }}</div>
              {% if is_granted('delete', comment) %}
                {{ include('includes/_delete_form.html.twig', {
                  action: path('comment.delete', {id: comment.id}),
                  entity: comment
                }) }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </aside>
  </div>
  <div class="col-4">
    <p><strong>{{ housing.formatedPrice }}</strong> par nuit</p>
    <form action="{{ path('booking.book', {id: housing.id}) }}" method="post">
      <div class="input-group mb-2">
        <input type="date" class="form-control" name="start_date" value="{{ housing.availabilityStart | date('Y-m-d') }}">
        <input type="date" class="form-control" name="end_date" value="{{ housing.availabilityEnd | date('Y-m-d') }}">
      </div>
      <button class="btn btn-primary expand w-100">Réserver</button>
    </form>
  </div>
</div>

</main>
  
{% endblock %}