{% extends "base.html.twig" %}

{% block body %}
  
  <main class="container">
    <h1>{{ housing.title }}</h1>
    <p>{{ housing.fullAddress }}</p>

    {% if housing.images is not empty %}
      <div class="images">
        {% if housing.thumbnail %}
          <img src="{{ vich_uploader_asset(housing.thumbnail) }}" alt="" class="card-img-top">
        {% endif %}
        <div class="images-gallery">
          {% for image in housing.images %}
            {% if not image.isThumbnail %}
              <img src="{{ vich_uploader_asset(image) }}" alt="" class="card-img-top">
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <h2>chez {{ housing.user.name}}</h2>

    <p>{{ housing.rooms }} chambre . {{ housing.beds }} lits</p>

    <p>{{ housing.description }}</p>
  </main>

  <aside class="container">
    <h2>{{ housing.comments | length }} Commentaires</h2>

    <div class="row gap-2">
      {% for comment in housing.comments %}
        <div class="card">
          <div class="card-header">
            {{ comment.user.name }}
          </div>
          <div class="card-body">
          <div class="card-text">{{ comment.message }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </aside>
  
{% endblock %}