{% extends "base.html.twig" %}

{% block body %}
  
  <main class="container">
    <h1>{{ housing.title }}</h1>

    <p>{{ housing.description | up_down }}</p>

    <table class="table table-striped">
      <tr>
        <td>Prix</td>
        <td>{{ housing.formatedPrice }}</td>
      </tr>
      <tr>
        <td>Chambres</td>
        <td>{{ housing.rooms }}</td>
      </tr>
      <tr>
        <td>Lits</td>
        <td>{{ housing.beds }}</td>
      </tr>
    </table>
  </main>
  
{% endblock %}